@font-face {
    font-family: 'Roboto-Regular';
    src:url('../fonts/Roboto-Regular/Roboto-Regular.ttf.woff') format('woff'),
        url('../fonts/Roboto-Regular/Roboto-Regular.ttf.svg#Roboto-Regular') format('svg'),
        url('../fonts/Roboto-Regular/Roboto-Regular.ttf.eot'),
        url('../fonts/Roboto-Regular/Roboto-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src:url('../fonts/Roboto-Medium/Roboto-Medium.ttf.woff') format('woff'),
        url('../fonts/Roboto-Medium/Roboto-Medium.ttf.svg#Roboto-Medium') format('svg'),
        url('../fonts/Roboto-Medium/Roboto-Medium.ttf.eot'),
        url('../fonts/Roboto-Medium/Roboto-Medium.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src:url('../fonts/Roboto-Light/Roboto-Light.ttf.woff') format('woff'),
        url('../fonts/Roboto-Light/Roboto-Light.ttf.svg#Roboto-Light') format('svg'),
        url('../fonts/Roboto-Light/Roboto-Light.ttf.eot'),
        url('../fonts/Roboto-Light/Roboto-Light.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    font-family: 'Roboto-Light';
}
html{
    font-size:100%;
    margin:0;
    border:none;
    padding:0;
}
body {
    display: grid;
    grid-template-rows: 0.18fr 0.15fr 0.09fr 0.26fr 0.24fr 0.07fr 0.05fr 0.07fr;
    font-family: 'Roboto-Light';
    font-size: 1rem;
    margin:0;
    max-width: 1200px;
}
body>* {
    max-width: 1200px;
}
button , .B_system {
    font-family: 'Roboto-Regular';
    font-weight: normal;
    font-size: 1.2rem;
}
h1{
    font-family: 'Roboto-Medium';
    font-weight: bold;
    font-size: 3rem;
}
h2{
    font-family: 'Roboto-Regular';
    font-weight: bold;
    font-size: 2rem;
}
h3{
    font-family: 'Roboto-Regular';
    font-weight: bold;
    font-size: 2rem;
    color: black;
}
h4 {
    font-family: 'Roboto-Light';
    font-weight: normal;
    font-size: 1.5rem;
}
#compte_config, #V1, #V2, #V3 {
    font-family: 'Roboto-Light';
    font-size: calc(0.3rem + 0.7vw);
    font-weight: bold;
}
a {
    font-size: 1rem;
}
#V1, #V2, #V3 {
background-color: #007ef3;
}
main {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 0.5fr 1.7fr;
    background-color: #007ef3;
    background-image: url('../images/Man_working.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 95% 5%;
    align-content: center;
    justify-content: center;
    border:none;
}
.vide {
    background-color: #007ef3;
    border:none;
}
header {
    display:flex;
    justify-content: space-around;
    width: 100%;
}
.logo {
    margin-top: 1rem;
    margin-left:1rem;
    justify-self: start;
}
.user-count {
    margin-top: 1rem;
    margin-right:1rem;
    display: flex;
    background:none;
}
.count>select, .count> option {
    background:none;
    border:none;
    color:white;
}
.user {
    display:inline-flex;
    align-items: flex-start;
}
.user> input {
    background:none;
    border:none;
    border-bottom:1px solid white;
    width:70%;
}
.user> button {
    background: none;
    border:none;
}
.user> button > img {
    filter: invert(100%); 
    -webkit-filter: invert(100%);
}
.count {
    display:inline-flex;
    align-items: flex-start;
}
.count> img {
    filter: invert(100%); 
    -webkit-filter: invert(100%);
}
.navig {
    width:100%;
}
.navig ul {
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
}
nav li{
    text-align: center;
}
nav li a {
    text-decoration: none;
    color:white;
    font-size:calc(0.3rem + 0.7vw);
    display:inline-block;
    padding:15px 30px;
}
nav li.active, nav li a:hover {
    background-color: #0067c7;
    font-weight: bold;
}
.text1{
    margin-left: calc(100px + 3vw);
    color:white;
    max-width: 30%;
}
.text1> p, button {
    line-height: 2;
}
.text1> button {
    color:white;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    padding-right: 50px;
    padding-left: 50px;
}
.text2 {
    text-decoration: none;
    color:black;
    line-height: 2;
    text-align: center;
    justify-self: center;
}
.services, .value {
    display:flex;
    flex-direction: column;
    align-items: start;
}

.text3 {
    display: grid;
    grid-template-areas: "services img2"
                            "img3 value";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width:100%;
}
.text3>.services {
    grid-area: services;
    background-color: #007ef3;
    padding-bottom: 2rem;
}
.services>h3, .services>p, .services>a {
    text-decoration: none;
    color:white;
    line-height: 2;
    width: 70%;
    margin-left: calc(100px + 3vw);
}
.text3> .img2 {
    grid-area:img2;
    background-image: url('../images/Desktop_406x320.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.text3> .img3 {
    grid-area:img3;
    background-color: #0067c7;
    background-image: url('../images/Group177.png');
    background-size: auto auto;
    background-position: 30% 50%;
    background-repeat: no-repeat;
}
.text3>.value {
    grid-area:value;
    background-color: #007ef3;
}
.value> h3, .value> select, .value> option {
    text-decoration: none;
    color:white;
    line-height: 2;
    margin-left: calc(100px + 3vw);
    width: 70%;
}
.value> select, .value> option{
    background:none;
    border:none;
    border-bottom: 1px solid white;
}
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 5rem;
}
.formulaire {
    margin-left: 3.5rem;
}
#form {
    width: 46.88 rem;
    height: 47.19 rem;
}
aside {
    display: flex;
    flex-direction: column;
    margin-right: 3.5rem;
    margin-bottom:11.25rem;
    margin-top:13rem;
}
aside> .avatar2 {
    background-color:#dff0ff;
    padding:1rem;
    width:19rem;
}
aside> .card {
    background-color: #f4f4f4;
    padding:1rem;
    margin-top: 2rem;
    color: #007ef3;
    width:19rem;
}
#grey {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.text4 {
    text-align: center;
    max-width: 1200px;
    margin-top: 2.8rem;
    margin-bottom:3.3rem;
}
.text4 a input {
    background-color:#007ef3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
}
.B_system {
    color: white;
    background: none;
    background-color: #007ef3;
    border: 1px solid white;
    border-radius: 5px;
    padding-right: 50px;
    padding-left: 50px;
}
.B_system a {
    text-decoration: none;
    color:white;
}

.social_media {
    display:flex;
    background:none;
    border:none;
    align-items: center;
    justify-content: center;
}
.social_media a img {
    padding: 2em;
}
.foot {
    background-color:white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #887a7a;
}
.signature {
    max-width: 1200px;
    padding: 2em;
}
.signature img {
    filter: invert(100%); 
    -webkit-filter: invert(100%);
}