@font-face {
    font-family: 'Roboto-Regular';
    src:url('../fonts/Roboto-Regular/Roboto-Regular.ttf.woff') format('woff'),
        url('../fonts/Roboto-Regular/Roboto-Regular.ttf.svg#Roboto-Regular') format('svg'),
        url('../fonts/Roboto-Regular/Roboto-Regular.ttf.eot'),
        url('../fonts/Roboto-Regular/Roboto-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src:url('../fonts/Roboto-Medium/Roboto-Medium.ttf.woff') format('woff'),
        url('../fonts/Roboto-Medium/Roboto-Medium.ttf.svg#Roboto-Medium') format('svg'),
        url('../fonts/Roboto-Medium/Roboto-Medium.ttf.eot'),
        url('../fonts/Roboto-Medium/Roboto-Medium.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src:url('../fonts/Roboto-Light/Roboto-Light.ttf.woff') format('woff'),
        url('../fonts/Roboto-Light/Roboto-Light.ttf.svg#Roboto-Light') format('svg'),
        url('../fonts/Roboto-Light/Roboto-Light.ttf.eot'),
        url('../fonts/Roboto-Light/Roboto-Light.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    font-family: 'Roboto-Light';
    margin-block: 0;
}
html{
    font-size:62.5%;
    margin:0;
    border:none;
    padding:0;
    word-spacing: 0.5rem;
    line-height: 1.5;
}
body {
    display: grid;
    grid-template-rows: 0.18fr 0.15fr 0.09fr 0.26fr 0.24fr 0.07fr 0.05fr 0.07fr;
    font-family: 'Roboto-Light';
    font-size: 1.2rem;
}
button , .B_system {
    font-family: 'Roboto-Regular';
    font-weight: normal;
    font-size: 1.3rem;
}
h1{
    font-family: 'Roboto-Medium';
    font-weight: bold;
    font-size: 3rem;
    margin:0;
    padding:1.5rem;
}
h2{
    font-family: 'Roboto-Regular';
    font-weight: bold;
    font-size: 1.8rem;
    margin:0;
    padding:0;
}
h3{
    font-family: 'Roboto-Regular';
    font-weight: bold;
    font-size: 1.8rem;
    color: black;
    margin:0;
    padding:0;
}
h4 {
    font-family: 'Roboto-Light';
    font-weight: normal;
    font-size: 1.5rem;
    margin:20px;
    padding:0;
}
#compte_config, #V1, #V2, #V3 {
    font-family: 'Roboto-Light';
    font-size: 1.2rem;
}
a {
    font-size: 1.2rem;
    margin:0;
    padding:0;
}
#V1, #V2, #V3 {
background-color: #007ef3;
}
main {
    background-color: #007ef3;
    display:flex;
    justify-content: center;
}
#principale {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 0.5fr 1.7fr;
    background-image: url('../images/Man_working.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 95% 5%;
    align-content: center;
    justify-content: center;
    border:none;
    max-width:1200px;
}
.fond-bleu {
    background-color: #007ef3;
    display:flex;
    justify-content: center;
}
.vide {
    background-color: #007ef3;
    border:none;
    padding:120px;
}
header {
    display:flex;
    justify-content: space-around;
    width: 100%;
}
.logo {
    margin-left:1rem;
    justify-self: start;
}
.user-count {
    margin-right:1rem;
    display: flex;
    background:none;
}
.count>select, .count> option {
    background:none;
    border:none;
    color:white;
}
.user {
    display:inline-flex;
    align-items: flex-start;
}
.user> input {
    background:none;
    border:none;
    border-bottom:1px solid white;
    width:70%;
}
.user> button {
    background: none;
    border:none;
}
.user> button > img {
    filter: invert(100%); 
    -webkit-filter: invert(100%);
}
.count {
    display:inline-flex;
    align-items: flex-start;
}
.count> img {
    filter: invert(100%); 
    -webkit-filter: invert(100%);
}
.navig {
    width:100%;
    margin-top: -1rem;
}
.navig ul {
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
}
nav li{
    text-align: center;
}
nav li a {
    text-decoration: none;
    color:white;
    font-size:calc(0.3rem + 0.7vw);
    display:inline-block;
    padding:15px 30px;
}
nav li.active, nav li a:hover {
    background-color: #0067c7;
    font-weight: bold;
}
.text1{
    margin-left: 5rem;
    color:white;
    max-width: 35%;
    margin-top:16rem;
}
.text1> p, button {
    line-height: 2;
    padding:1.5rem;
}
.text1> button {
    color:white;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    padding-right: 5rem;
    padding-left: 5rem;
    margin:1.5rem;
}
.text2 {
    text-decoration: none;
    color:black;
    line-height: 2;
    text-align: center;
    justify-self: center;
    max-width: 700px;
    padding:80px;
}
.services, .value {
    display:flex;
    flex-direction: column;
    align-items: start;
}
.text3 {
    display: grid;
    grid-template-areas: "services img2"
                            "img3 value";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    
}
.text3>.services {
    grid-area: services;
    background-color: #007ef3;
    padding-bottom: 2rem;
    max-width:375px;
    margin-left: calc(75px + 1vw);
    padding:100px 85px 100px 0;
}
.services>h3, .services>p, .services>a {
    text-decoration: none;
    color:white;
    line-height: 2;
}
.text3> .img2 {
    grid-area:img2;
    background-image: url('../images/Desktop_406x320.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.img3 {
    grid-area:img3;
    padding:20px;
}
.fond-bleu-fonce {
    min-width: min(50vw,500px);
    background-color: #0067c7;
}
.text3>.value {
    grid-area:value;
    background-color: #007ef3;
    max-width:375px;
    padding-top:100px;
}
.value> h3, .value> select, .value> option {
    text-decoration: none;
    color:white;
    line-height: 2;
    margin-left: calc(75px + 1vw);
}
.value> select, .value> option{
    background:none;
    border:none;
    border-bottom: 1px solid white;
}
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}
.formulaire {
    margin-left: 3.5rem;
    margin:76px 0px 79px 0px;
}
#formImg {
    max-height: auto;
    max-width: 550px;
}
aside {
    display: flex;
    flex-direction: column;
}
aside> .avatar2 {
    background-color:#dff0ff;
    max-width:100%;
    max-height:309px;
    padding:1rem;
    line-height:2;
}
aside> .card {
    background-color: #f4f4f4;
    margin-top: 20px;
    color: #007ef3;
    max-width:100%;
    max-height:132px;
    padding:1rem;
    line-height:2;
}
#grey {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #dbd5d5;
    border-bottom: 1px solid #dbd5d5;
}
.text4 {
    text-align: center;
    max-width: 1200px;
    margin-top: 2.8rem;
    margin-bottom:3.3rem;
}
.text4 a input {
    background-color:#007ef3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
}
.B_system {
    color: white;
    background: none;
    background-color: #007ef3;
    border: 1px solid white;
    border-radius: 5px;
    padding:10px 50px;
}
.B_system a {
    text-decoration: none;
    color:white;
}

.social_media {
    display:flex;
    background:none;
    border:none;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #dbd5d5;
    box-shadow: 1px 0px #fcf6f6;
}
.social_media a img {
    padding: 7rem 2rem;
}
.foot {
    background-color:white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.signature {
    max-width: 1200px;
    padding: 7rem 0 14rem 0;
}
.signature img {
    filter: invert(100%); 
    -webkit-filter: invert(100%);
}